/* declare variables */

:root {
    --darkblue: hsl(212, 24%, 25%);
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: hsl(192, 15%, 94%);
    --orange: hsl(7, 64%, 55%);
    

}
  
  .custom-jumbotron {
    background-color: var(--seablue);
    color: var(--darkblue);
  }

  .custom-card {

  }

/* notes for java

// declare variables

// get time tracker



// on add project button click run a form insert program

// 
// each form has to have a text box that will save
// 

// on save
// create list element that links to each collom
// 


// create button that deletes the row
// removes that whole row that has the same (index?) as the botton? */
